<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MongoNewsScraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/saved">Saved Articles</a>
      <button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button>     
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">MongoNewsScraper</h1>
    <p class="lead text-center"><strong>Scrape the latest AP News articles.</strong></p>
  </div>
</div>
<div id="articles" class="container">
    {{#each articles}}
        <div class="row">
          <div class="col-sm-12">
            <a href="{{link}}"> <h1>{{title}}</h1></a>
            <p>{{summary}}</p>
            <button data-id={{_id}} class="deleteArticle" >Delete Article</button>
              <button data-id={{_id}} class="addComment" >Add Comment</button>
          </div>
        </div>

    {{/each}}
</div>